<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/style.css">
    <title>Home</title>
</head>
<body>
    <!-- Side Header -->
    <nav class="vertical-nav sticky-top">
        <div class="container">
            <div class="blue-bar"></div>
            <div class="icon-box">
                <img src="/public/assets/fi_home.svg" alt="" class="home">
                <p>Dashboard</p>
                <span></span>
                <span></span>
                <span></span>
                <img src="/public/assets/fi_home.svg" alt="" class="truck">
                <p>Cars</p>
            </div>
        </div>
    </nav>

    <!--Top Header-->
    <nav class="navbar navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand"></a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>

    <!--Left Navbar-->
    <nav class="left-navbar">
        <div class="container">
            <h2>CARS</h2>
            <p>List Car</p>
        </div>
    </nav>
