<%- include ('layouts/header') %> 

<!-- Main Content -->
<!-- Main-->
<div class="container-fluid pt-3 wrapper">
    <!-- Breadcrumb -->
    <div class="breadcrumb-wrapper">
        <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Cars</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Cars</li>
            </ol>
        </nav>
    </div>
    <div class="list-car-header">
        <h2>List Car</h2>
        <button class="btn btn-success add-btn">+  Add New Car</button>
    </div>
    <!-- Filters-->
    <div class="filters">
        <button class="btn btn-success filter-btn">All</button>
        <button class="btn btn-success filter-btn">Small</button>
        <button class="btn btn-success filter-btn">Medium</button>
        <button class="btn btn-success filter-btn">Large</button>
    </div>
</div>

<!--Car-->
<div class="container car-list-wrapper">
    <div class="row">
        <div class="card car-card col-4">
            <img src="/assets/car.svg" alt="" class="car-pic">
            <p>Nama / tipe mobil</p>
            <p><b>Rp 430.000 / Hari</b></p>
            <p><span><img src="/assets/fi_clock.svg" alt="" class="car-icon"></span>Updated at 4 Apr 2022, 09.00</p>
            <div class="select-wrapper">
                <button class="btn btn-danger delete-btn"><img src="/public/assets/fi_trash-2.svg" alt="" class="select-icon"> Delete</button>
                <button class="btn btn-success edit-btn"><img src="/public/assets/fi_edit.svg" alt="" class="select-icon">Edit</button>
            </div>
        </div>
    </div>
</div>

<%- include ('layouts/footer') %> 