<%- include ('layouts/header') %>

  <!--Main -->
  <div class="container-fluid pt-2 wrapper">
    <!--Breadcrumb-->
    <div class="breadcrumb-wrapper">
        <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Cars</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Cars</li>
            <li class="breadcrumb-item active" aria-current="page">Add New Car</li>
            </ol>
        </nav>
    </div>
    
    <div class="main-content-header">
        <h2>Update Car</h2>
    </div>

    <!-- Form -->
    <form action="" class="form-wrapper" name="edit-form">
        <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-10">
                <input type="text" class="form-control text-input" name="name" required placeholder="Avanza">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Sewa per Hari</label>
            <div class="col-sm-10">
                <input type="text" class="form-control text-input" name="price" required placeholder="Rp 0.-">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Ukuran</label>
            <div class="col-sm-10">
                <select name="size" class="form-control text-input">
                    <option value="small" selected>Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-10">
                <input type="file" class="form-control text-input" name="photo" required>
            </div>
            <div class="form-text">File size max. 2MB</div>
        </div>
    </form>

    <div class="form-submit">
        <button type="submit" form="edit-form" class="btn filter-btn submit-btn">Submit</button>
        <button class="btn filter-btn">Cancel</button>
    </div>
</div>

<%- include ('layouts/footer') %>